.app{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 8em;
    font-family: Arial, serif;
}
.count{
    height: 42px;
    text-align: center;
    font-weight: bolder;
    margin: 6px;
    padding: 10px;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
}
.countOn{
    height: 42px;
    text-align: center;
    font-weight: bolder;
    margin: 6px;
    padding: 10px;
    border-radius: 5px;
    color: dodgerblue;
    border: 1px solid dodgerblue;
    background-color: #293133;
}
.buttons{
    background-color: dodgerblue;
    border-radius: 5px;
    margin: 5px;
}

.settingValue{
    text-align: center;
    font-weight: bolder;
    margin: 6px;
    padding: 10px;
    border-radius: 5px;
    background-color: dodgerblue;
    color: black;
}
